#petCards {
  display: flex;
  flex-flow: row wrap;
  margin: 20px;
  border: 10px;
}

.container {
  display: flex;
  justify-content: center;
}
.form-floating {
  display: flex;
  align-content: space-between;
}
